﻿@{
    ViewData["Title"] = "Home Page";
}
@model Google;

@{
    Layout = null;
}

@using (Html.BeginForm("Index", "Home", FormMethod.Post))
{
<div class="text-center">
    <table>
        <tr><td>Search Engine</td><td> @Html.DropDownList("SearchEngineType", ViewData["SearchEngineType"] as IEnumerable<SelectListItem>)</td></tr>
        <tr><td> URL</td><td>  <input id="URL" name="URL" type="text" value="www.sympli.com.au" /></td></tr>
        <tr><td>Keyword</td><td>  <input id="Keyword" name="Keyword" type="text" value="e-settlements" /></td></tr>
         
    </table>
   
   
    @if (Model != null)
    {
        @Model.Results;
    }
    </div>
}
 